* { 
    font-size: 16px;
}

/* Header */
header {
    background-color: rgb(194, 213, 228);
    margin-top: 10px;
}
header h1 {
    font-size: 3rem;
    margin: 0;
    text-align: center;
    background-color: rgb(194, 213, 228);
}

/* Body */
body {
    background-color: rgb(249, 254, 255);
    margin: 0;
}

/* Titulos */
.titulos {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.titulos h2 {
    color:rgb(56, 66, 73);
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
}

.titulos p {
    color:rgb(56,66,73);
    font-style: italic;
    font-size: 1.3em;
    margin: 0;
}

/* Menu bar */
.menu-bar {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}

.menu-bar ul {
    margin: 0;
}

.menu-bar li {
    float: left;   
    list-style-type: none; 
    font-size: 1.4rem;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 1.4rem;
}

/* Galeria de imágenes */

.images-container {
    display: flex;
    border-radius: 4rem solid black;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.images-container img {
    height: 25%;
    width: 25%;
    object-fit: cover;
    border: 3px solid rgb(194, 213, 228);
    border-radius: 25px;
}

.images-container img:hover {
    animation:  pulse-10 1.2s;
}
/* Servicios */

.servicios-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0;    
}

.box {
    background-color: aliceblue;
    padding: 2rem;
    border: 2px solid rgb(194, 213, 228); 
    text-align: center;
    border-radius: 8px;
    width: 200px;
}

.box h3 {
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(96, 126, 149)
}

.box p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color:black;
}
/* Separator */

.separator-bottom {
    color: rgb(194, 213, 228);
    border: 2px solid;
    margin-top: 1.5rem;
}

footer {
    background-color: rgb(194, 213, 228);
    color: rgb(56,66,73);
    padding: 1rem;
}
/* Animations */

@keyframes pulse-10 {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(110%);
    }
    
}

/* Media Querys */

@media (max-width: 480px) {
    .images-container {
        justify-content: center;
    }

    .images-container img {
        height: 60%;
        width: 60%;
    }
    
}

@media (max-width: 720px) {
    .images-container {
        justify-content: center;
    }

    .images-container img {
        height: 60%;
        width: 60%;
    }
    
}

@media (max-width: 1024px) {
    .images-container {
        justify-content: center;
    }

    .images-container img {
        height: 60%;
        width: 60%;
    }
    
}